*{
    box-sizing: border-box;
}
body {
    background-color: #fe9906;
    color: #fff;
    font-family: arial;
    padding: 0;
}
h1 {
    margin-top: 150px;
    text-align: center;
    font-weight: 500;
}
.flex-container {
    display: flex;
    margin: auto;
    width: 900px;
    justify-content: center;
}
.loader {
    width: 150px;
    heigth: 100px;
}
.animate-elements {
    background-color: #fff;
}
/* saldan roma */
.wrapper-6 {
	width: 300px;
	height: 200px;
	position: relative;
}
.animation-6 {
	animation: rotation 2s infinite linear;
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}
.first-disk-6  {
	animation-duration: 2s;
	animation-name: first-disk-6;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	border-radius: 50%;
	position: absolute;
	right: 15%;
	top: 35%;
	width: 30%;
	height: 30%;
	box-shadow: 0 0 25px white;
}
.second-disk-6  {
	position: absolute;
	border-radius: 50%;
	right: 35%;
	top: 15%;
	width: 0%;
	height: 0%;
	animation-duration: 2s;
	animation-name: second-disk-6;
	animation-iteration-count: infinite;	
	animation-timing-function: linear;
	box-shadow: 0 0 25px white;
}
@keyframes rotation {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(359deg);
		}
}
@keyframes first-disk-6 {
	from {
		width: 30%;
		height: 30%;
	}
	50% {
		width: 0%;
		height: 0%;
	} 
	to {
		width: 30%;
		height: 30%;		
	}
}
@keyframes second-disk-6 {
	from {
		width: 0%;
		height: 0%;
	}
	50% {
		width: 30%;
		height: 30%;
	} 
	to {
		width: 0%;
		height: 0%;		
	}
}

/* saldan roma */
/* @Perturabo4 */
.pulse_animation {
    position: relative;
    width: 100%;
    height: 100%;
}
.pulse_animation::before,
.pulse_animation::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.pulse_animation::before {
    transform: translate(-50%, -50%) scale(1);
    background-color: rgba(255, 255 , 255, .3);
    animation: pulse_outer ease-in .5s infinite alternate;
    box-shadow: 0 0 10px rgba(255, 255, 255, .5), 
                inset 0 0 20px rgba(255, 255, 255, .5);
}
.pulse_animation::after {
    transform: translate(-50%, -50%) scale(0);
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 40px rgba(255, 255 , 255, .5);
    animation: pulse_inner  ease-in .5s infinite alternate;
}
@keyframes pulse_inner {
    0%{
        transform: translate(-50%, -50%) scale(0);
        background-color: rgba(255, 255, 255, 0.8);
    }
    70%{
        transform: translate(-50%, -50%) scale(.1);
        background-color: rgba(255, 255, 255, 0.8);
    }
    100%{
        transform: translate(-50%, -50%) scale(.4);
        background-color: rgba(255, 255, 255, 0.4);
    }
}
@keyframes pulse_outer {
    0%{
        transform: translate(-50%, -50%) scale(1);
    }
    100%{
        transform: translate(-50%, -50%) scale(.3);
    }
}
/* @Perturabo4 */
